
{{> head}}

{{> navbar }}

<div class="row">

      <div class="col-8">
            <h1>Beach</h1>
            <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae repellat maxime officia modi. Pariatur deleniti neque ratione repellat, quae corrupti qui dolorum similique sequi, cupiditate accusantium rerum eos, incidunt perferendis?
            </p>

      </div>

      <div class="col-4">
            <img src="assets/img/beach.jpg" class="img-thumbnail">

      </div>

</div>


{{> footer}}